* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4CAF50;
  padding: 1rem;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* src/App.css */
.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */

.order-list-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.order-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.order-item h2 {
  margin: 0 0 10px 0;
}

.order-item p {
  margin: 5px 0;
}

.order-places {
  margin-top: 10px;
}

.order-places h3 {
  margin-bottom: 10px;
}

.order-places ul {
  list-style-type: none;
  padding: 0;
}

.order-places li {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}
